body{
    background-image: linear-gradient(orange, blue);
}

.list-container {
  background-color: whitesmoke;
}

#flick-list {
    margin-bottom: 0;
}

.flick-name {
    margin: 0 .75rem;
}

.flick.fav {
    background-color: yellow;
}

.flick .button-group {
    margin-bottom: 0;
    background-color: whitesmoke;
}

.flick .button-group .button {
    /*margin-bottom: 0;*/
}

.template {
    display: none;
}